---
import LinkList from "../common/LinkList/LinkList.astro";
const footerDates = [2017, 2018, 2019, 2020, 2022]
const footerLinks = footerDates.map((e) => {
  return {
    name:`${e}`,
    link: `https://${e}.nixcon.org`
  }
})
---

<footer class="text-nixblue-950 dark:text-nixblue-300 mb-8">
  <div class="container mx-auto p-4 flex flex-col justify-between">
    <div>
      <h2 class="text-2xl font-bold mb-2 font-behrensschrift">
        Previous NixCon editions
      </h2>
      <LinkList links={footerLinks} />
    </div>

    <div>
      <h2 class="text-2xl font-bold my-4 font-behrensschrift">
        Additional links
      </h2>
      <ul class="linklist">
        <li>
          <a href="/code-of-conduct" class="hover:underline">Code of Conduct</a>
        </li>
        <li>
          <a href="/imprint" class="hover:underline">Imprint</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
