---
const { extraClasses, isEmbedded, id } = Astro.props;

const href = `#${id}`;
---

<h2 {id} class=`text-2xl font-black mb-2 font-behrensschrift ${extraClasses}`>
    { id ? ( <a class="nixcon-gradient text-transparent bg-clip-text font-black" {href}>#</a>) : null}
    <slot />
</h2>
