---
import BoxLink from "../common/LinkList/BoxLink.astro";
import Section from "../common/Section/Section.astro";
import SectionHeading from "../common/Section/SectionHeading.astro";
import SectionParagraph from "../common/Section/SectionParagraph.astro";
---

<Section extraClasses="pt-4">
  <SectionHeading id="about">About</SectionHeading>
  <SectionParagraph>
    NixCon is a community-oriented conference for contributors and users of Nix
    and NixOS. It's about sharing experiences, inspiring people and discussing
    future development.
  </SectionParagraph>
  <SectionParagraph>
    We would like to learn about how you use Nix and NixOS in your organization
    and what you are currently working on.
  </SectionParagraph>
  <SectionParagraph>
    The growth of NixOS as a project brings its own challenges and we would like
    to know how you think the user experience can be improved and how NixOS can
    be scaled.
  </SectionParagraph>
</Section>
