---
import Livestream from "../common/Livestream.svelte";
import "../../../node_modules/@vime/core/themes/default.css";
import "../../../node_modules/@vime/core/themes/light.css";
---
<div class="mt-4">
    <Livestream client:only="svelte" />
    <div class="text-sm mt-2">
        Streaming is kindly provided bz C3VOC. More Information <a href="https://streaming.media.ccc.de/nixcon2023/hoersaal">here</a>.
    </div>
</div>