---

import Sponsors from "../common/Sponsors/Sponsors.svelte";
import SubSectionHeading from "../common/Section/SubSectionHeading.astro";
import SectionHeading from "../common/Section/SectionHeading.astro";
import Section from "../common/Section/Section.astro";
import { getEntry } from "astro:content";
const { data: sponsors } = await getEntry('data', 'sponsors');
---

<Section>
    <SectionHeading id="sponsors">Sponsors</SectionHeading>
    <div class="bg-nixblue-200 dark:bg-gray-600">
        <SubSectionHeading
                extraClasses="p-4 pb-2 block border-b-4 border-b-yellow-300"
        >
            Gold sponsors
        </SubSectionHeading>
        <ul class="flex flex-rows flex-wrap justify-center gap-x-16 gap-y-8 p-4">
            <Sponsors level="gold" sponsors={sponsors.gold} client:load />
        </ul>
    </div>
    <div class="bg-nixblue-200">
        <SubSectionHeading
                extraClasses="p-4 pb-2 block border-b-4 border-b-gray-200"
        >
            Silver sponsors
        </SubSectionHeading>
        <ul class="flex flex-rows flex-wrap justify-center gap-x-8 gap-y-8 p-4">
            <Sponsors level="silver" sponsors={sponsors.silver} client:load />
        </ul>
    </div>
    <div class="bg-nixblue-200">
        <SubSectionHeading
                extraClasses="p-4 pb-2 block border-b-4 border-b-amber-700"
        >
            Bronze sponsors
        </SubSectionHeading>
        <ul class="flex flex-rows flex-wrap justify-center gap-x-4 gap-y-4 p-4">
            <Sponsors level="bronze" sponsors={sponsors.bronze} client:load />
        </ul>
    </div>
</Section>