---

import Sponsors from "../common/Sponsors/Sponsors.astro";
import SubSectionHeading from "../common/Section/SubSectionHeading.astro";
import SectionHeading from "../common/Section/SectionHeading.astro";
import Section from "../common/Section/Section.astro";

const sponsors = {
    gold: [
        { image: "cachix.png", alt: "Cachix", url: "https://cachix.org" },
        {
            image: "flox.png",
            alt: "Flox",
            url: "https://floxdev.com",
            extraClasses: "px-10",
        },
        { image: "numtide.png", alt: "Numtide", url: "https://numtide.com" },
        {
            image: "flyingcircus.png",
            alt: "Flying Circus",
            url: "https://flyingcircus.io/",
        },
        { image: "tweag.png", alt: "Tweag", url: "https://tweag.io/" },
        {
            image: "detsys.svg",
            alt: "Determinate Systems",
            url: "https://determinate.systems/",
        },
    ],
    silver: [
        {
            image: "helsinki-systems.png",
            alt: "Helsinki Systems",
            url: "https://helsinki-systems.de/",
        },
        {
            image: "meetwise.png",
            alt: "meetwise",
            url: "https://meetwise.com/",
            extraClasses: "py-5",
        },
        { image: "google.png", alt: "Google", url: "https://google.com/" },
        {
            image: "wdz.png",
            alt: "WDZ",
            url: "https://wdz.de/",
            extraClasses: "px-5",
        },
        {
            image: "pdt-partners.jpg",
            alt: "PDT Partners",
            url: "https://pdtpartners.com/",
            extraClasses: "py-5",
        },
        {
            image: "worldquant.png",
            alt: "WorldQuant",
            url: "https://worldquant.com/",
            extraClasses: "py-5",
        },
        {
            image: "hercules-ci.png",
            alt: "Hercules CI",
            url: "https://hercules-ci.com/",
            extraClasses: "py-5",
        },
        {
            image: "garnix.png",
            alt: "garnix",
            url: "https://garnix.io",
        },
    ],
    bronze: [
        {
            image: "oin.jpg",
            alt: "Open Innovation Network",
            url: "https://openinventionnetwork.com/",
        },
    ],
};
---

<Section>
    <SectionHeading id="sponsors">Sponsors</SectionHeading>
    <div class="bg-nixblue-200 dark:bg-gray-600">
        <SubSectionHeading
                extraClasses="p-4 pb-2 block border-b-4 border-b-yellow-300"
        >
            Gold sponsors
        </SubSectionHeading>
        <ul class="flex flex-rows flex-wrap justify-center gap-x-16 gap-y-8 p-4">
            <Sponsors level="gold" sponsors={sponsors.gold} />
        </ul>
    </div>
    <div class="bg-nixblue-200">
        <SubSectionHeading
                extraClasses="p-4 pb-2 block border-b-4 border-b-gray-200"
        >
            Silver sponsors
        </SubSectionHeading>
        <ul class="flex flex-rows flex-wrap justify-center gap-x-8 gap-y-8 p-4">
            <Sponsors level="silver" sponsors={sponsors.silver} />
        </ul>
    </div>
    <div class="bg-nixblue-200">
        <SubSectionHeading
                extraClasses="p-4 pb-2 block border-b-4 border-b-amber-700"
        >
            Bronze sponsors
        </SubSectionHeading>
        <ul class="flex flex-rows flex-wrap justify-center gap-x-4 gap-y-4 p-4">
            <Sponsors level="bronze" sponsors={sponsors.bronze} />
        </ul>
    </div>
</Section>