---
import Footer from "../components/Footer.astro";
import Section from "../components/Section.astro";
import SectionHeading from "../components/SectionHeading.astro";
import SectionParagraph from "../components/SectionParagraph.astro";
import "@fontsource/roboto";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>NixCon 2023</title>
  </head>
  <body class="bg-nixblue-100 text-nixblue-950">
    <div class="flex flex-col items-center justify-center h-screen">
      <h1 class="text-4xl font-black text-gray-700">NixCon 2023 - Darmstadt</h1>
      <p class="mt-2 text-3xl font-bold text-gray-600">
        Darmstadt | September 08 - 10
      </p>
    </div>
    <Section>
      <SectionHeading>The Conference</SectionHeading>
      <SectionParagraph>
        NixCon is a community-oriented conference for contributors and users of
        Nix and NixOS. It's about sharing experiences, inspiring people and
        discussing future development. We would like to learn about how you use
        Nix and NixOS in your organization and what you are currently working
        on. The growth of NixOS as a project brings its own challenges and we
        would like to know how you think the user experience can be improved and
        how NixOS can be scaled.
      </SectionParagraph>
    </Section>
    <Section>
      <SectionHeading>The Location</SectionHeading>
      <SectionParagraph>
        Darmstadt is a city in the state of Hesse in Germany, located in the
        southern part of the Rhine-Main-Area (Frankfurt Metropolitan Region).
      </SectionParagraph>
    </Section>
    <Section>
      <SectionHeading>The Schedule</SectionHeading>
      <SectionParagraph>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, repellat
        esse debitis eius non eaque cumque itaque nobis expedita nisi,
        recusandae mollitia facere fugiat assumenda temporibus nemo fugit est
        commodi?
      </SectionParagraph>
    </Section>
    <Section>
      <SectionHeading>The Sponsors</SectionHeading>
      <SectionParagraph>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, repellat
        esse debitis eius non eaque cumque itaque nobis expedita nisi,
        recusandae mollitia facere fugiat assumenda temporibus nemo fugit est
        commodi?
      </SectionParagraph>
    </Section>
    <Section>
      <SectionHeading>Tickets</SectionHeading>
      <SectionParagraph>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, repellat
        esse debitis eius non eaque cumque itaque nobis expedita nisi,
        recusandae mollitia facere fugiat assumenda temporibus nemo fugit est
        commodi?
      </SectionParagraph>
    </Section>
    <Section>
      <SectionHeading>Get in touch</SectionHeading>
      <SectionParagraph>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, repellat
        esse debitis eius non eaque cumque itaque nobis expedita nisi,
        recusandae mollitia facere fugiat assumenda temporibus nemo fugit est
        commodi?
      </SectionParagraph>
    </Section>
    <Footer />
  </body>
</html>
