---
import "@fontsource/roboto";
import Section from "../components/Section.astro";
import SectionHeading from "../components/SectionHeading.astro";
import SectionParagraph from "../components/SectionParagraph.astro";
import SubSectionHeading from "../components/SubSectionHeading.astro";
import LayoutDefault from "../layouts/LayoutDefault.astro";
import TicketView from "../components/TicketView.astro";
import List from "../components/List.astro";
import ListItem from "../components/ListItem.astro";
import BlockList from "../components/BlockList.astro";
import BlockListHeader from "../components/BlockListHeader.astro";
import BlockListBody from "../components/BlockListBody.astro";
import { Icon } from "astro-icon";
---

<LayoutDefault>
  <Section extraClasses="pt-4">
    <SectionHeading>About</SectionHeading>
    <SectionParagraph>
      NixCon is a community-oriented conference for contributors and users of
      Nix and NixOS. It's about sharing experiences, inspiring people and
      discussing future development.
    </SectionParagraph>
    <SectionParagraph>
      We would like to learn about how you use Nix and NixOS in your
      organization and what you are currently working on.
    </SectionParagraph>
    <SectionParagraph>
      The growth of NixOS as a project brings its own challenges and we would
      like to know how you think the user experience can be improved and how
      NixOS can be scaled.
    </SectionParagraph>
  </Section>

  <Section>
    <SectionHeading>Location</SectionHeading>
    <SectionParagraph>
      <b class="inline-block mb-2">TU-Darmstadt, S1|05 Maschinenhaus</b><br />
      Magdalenenstr. 12<br />
      64289 Darmstadt<br />
      Germany
    </SectionParagraph>
    <ul class="linklist">
      <li>
        <a
          href="https://www.openstreetmap.org/way/26931271#map=19/49.87717/8.65750&layers=N"
          rel="external">OpenStreetMap</a
        >
      </li>
      <li>
        <a href="https://goo.gl/maps/nBg35Hk9FEeNuzAd7" rel="external"
          >Google Maps</a
        >
      </li>
      <li>
        <a
          href="https://maps.apple.com/place?address=Darmstadt,%20Hesse,%20Germany&auid=3032624567994665273&ll=49.877144,8.657540&lsp=9902&q=S1%7C05%20Maschinenhaus&t=h"
          rel="external">Apple Maps</a
        >
      </li>
    </ul>
  </Section>

  <Section extraClasses="pb-4">
    <SectionHeading>Tickets</SectionHeading>
    <SectionParagraph>
      Ticket sales will start immediately at <a
        href="https://tickets.nixcon.org/2023/"
        rel="external">https://tickets.nixcon.org/2023/</a
      >. If you are unable to afford a ticket, please contact us at
      <a href="mailto:orgateam@nixcon.org">orgateam@nixcon.org</a>.
    </SectionParagraph>
    <h2 class="text-xl font-bold pb-2">Ticket prices</h2>
    <TicketView />
  </Section>

  <Section extraClasses="pb-4">
    <SectionHeading>Timeline</SectionHeading>
    <SectionParagraph>
      NixCon 2023 will consist of two conference days and a self-organized
      hackday. This event is organized by the community for the community:
      everyone is welcome to contribute.
    </SectionParagraph>

    <SubSectionHeading>2023-08-10: Call for Papers deadline</SubSectionHeading>
    <SectionParagraph>
      You are encouraged to submit talks that cover the Nixpkgs ecosystem and
      beyond.
    </SectionParagraph>
    <SectionParagraph>
      We are currently planning for regular talks as well as lightning talks. If
      you have another idea, like setting up a workshop, please contact us at
      <a href="mailto:orgateam@nixcon.org">orgateam@nixcon.org</a>.
    </SectionParagraph>
    <SectionParagraph>
      You can <a href="https://talks.nixcon.org/nixcon-2023/cfp">
        submit your talk proposals via Pretalx</a
      > until the deadline, 2023-08-10 23:00 UTC.
    </SectionParagraph>

    <SubSectionHeading>
      2023-09-08: Conference day 1<br />2023-09-09: Conference day 2
    </SubSectionHeading>
    <SectionParagraph>
      The official conference schedule will be published after reviewing the CfP
      entries.
    </SectionParagraph>

    <SubSectionHeading>2023-09-10: Hackday</SubSectionHeading>
    <SectionParagraph>
      The Hackday is a self-organizing event after the conference. It's an
      opportunity to network, hack on projects and ideas that arose during the
      conference, and discuss plans for the rest of the year.
      <br />
      Get together, solve problems, create!
    </SectionParagraph>
  </Section>

  <Section extraClasses="pb-4">
    <SectionHeading>FAQ</SectionHeading>
    <SubSectionHeading>Arrival</SubSectionHeading>

    <BlockList>
      <li>
        <BlockListHeader>
          <Icon name="mdi:plane" class="mr-1 h-6 w-6 inline-block" />
          By plane
        </BlockListHeader>
        <BlockListBody>
          <List>
            <ListItem>
              Arrive at FRA (Frankfurt International Airport, <b>not</b> Frankfurt-Hahn
              (HHN)),
            </ListItem>
            <ListItem>
              Then either take the <a
                href="https://www.heagmobibus.de/sites/default/files/media/_Airliner_Faltblatt_2023_04_17_Web_0.pdf"
                target="_blank">Airliner Shuttle</a
              > that goes all the way to Darmstadt city center with a stop at the
              main train station.
            </ListItem>
            <ListItem>
              Or take a train from the airport’s “Regionalbahnhof” to Frankfurt
              (Main) Hbf and swap there to Darmstadt Hbf.
            </ListItem>
          </List>
        </BlockListBody>
      </li>
      <li>
        <BlockListHeader>
          <Icon name="mdi:train" class="mr-1 h-6 w-6 inline-block" />
          By train
        </BlockListHeader>
        <BlockListBody>
          <List>
            <ListItem>
              Darmstadt Hbf (main train station) is reachable by RE/IC/ICE. The
              closest station to the venue is the <a
                href="https://www.google.com/maps/place/Darmstadt+Alexanderstra%C3%9Fe%2FTU/@49.87575,8.66062,15z/data=!4m2!3m1!1s0x0:0xa70bcd66fefeb9dd?sa=X&ved=2ahUKEwjf16O_3JP_AhUS7aQKHYs7C9gQ_BJ6BAg5EAM"
                target="_blank">Alexanderstraße/TU</a
              > bus stop.
            </ListItem>
            <ListItem>
              Locally tickets can be bought from <a
                href="https://www.rmv.de"
                target="_blank">RMV</a
              >, e.g. from vending stations at most stations in Darmstadt
            </ListItem>
          </List>
        </BlockListBody>
      </li>
      <li>
        <BlockListHeader>
          <Icon name="mdi:car" class="mr-1 h-6 w-6 inline-block" />
          By car
        </BlockListHeader>
        <BlockListBody>
          <List>
            <ListItem>
              <a
                href="https://osm.org/go/0DxdhZQc6?layers=N&way=22937260"
                target="_blank"
                rel="noopener">Messplatz &amp; Nordbad, Alsfelder Str.</a
              >
            </ListItem>
            <ListItem>
              <a
                href="https://www.darmstadt-tourismus.de/besuch/details/poidetail/parkplatz-mercksplatz.html"
                target="_blank"
                rel="noopener">Mercksplatz</a
              >, up to 4 hours (warning: you have to indicate in some way what
              time you parked the car, visible through the windscreen).
            </ListItem>
            <ListItem>
              This is a non-exhaustive list, you can find more with your
              location data provider of choice
            </ListItem>
          </List>
        </BlockListBody>
      </li>
    </BlockList>
  </Section>

  <SectionParagraph>
    You can reach the venue in Darmstadt, Germany by

    <List>
      <ListItem>Plane:</ListItem>
      <ListItem>
        Train:
        <List indent={1} />
      </ListItem>
      <ListItem>
        Car: See the full address above. There are various places for parking.
        Non-exhaustive list:
      </ListItem>
    </List>
  </SectionParagraph>
</LayoutDefault>
