---
import "@fontsource/roboto";
import Footer from "../components/Footer.astro";
import LayoutDefault from "../layouts/LayoutDefault.astro";
import TicketView from "../components/TicketView.astro";
---

<LayoutDefault>
  <div class="flex flex-col items-center justify-center h-screen">
    <img src="/logo.svg" alt="NixCon 2023" class="w-72" />
    <p class="mt-4 text-5xl font-bold text-gray-600 font-behrensschrift">
      Darmstadt 2023
    </p>
    <p class="text-3xl font-behrensschrift font-bold text-gray-600">
      September 08 - 10
    </p>
  </div>
  <TicketView />
</LayoutDefault>
