---
import "@fontsource/roboto";
import Section from "../components/Section.astro";
import SectionHeading from "../components/SectionHeading.astro";
import SectionParagraph from "../components/SectionParagraph.astro";
import SubSectionHeading from "../components/SubSectionHeading.astro";
import LayoutDefault from "../layouts/LayoutDefault.astro";
import TicketView from "../components/TicketView.astro";
import List from "../components/List.astro";
import ListItem from "../components/ListItem.astro";
import BlockList from "../components/BlockList.astro";
import BlockListHeader from "../components/BlockListHeader.astro";
import BlockListBody from "../components/BlockListBody.astro";
import Icon from "../components/Icon.astro";
import Sponsor from "../components/Sponsor.astro";
import Sponsors from "../components/Sponsors.astro";

const sponsors = {
  gold: [
    { image: "cachix.png", alt: "Cachix", url: "https://cachix.org" },
    {
      image: "flox.png",
      alt: "Flox",
      url: "https://floxdev.com",
      extraClasses: "px-10",
    },
    { image: "numtide.png", alt: "Numtide", url: "https://numtide.com" },
    {
      image: "flyingcircus.png",
      alt: "Flying Circus",
      url: "https://flyingcircus.io/",
    },
    { image: "tweag.png", alt: "Tweag", url: "https://tweag.io/" },
    { image: "anduril.png", alt: "Anduril", url: "https://www.anduril.com/" },
    {
      image: "detsys.svg",
      alt: "Determinate Systems",
      url: "https://determinate.systems/",
    },
  ],
  silver: [
    {
      image: "helsinki-systems.png",
      alt: "Helsinki Systems",
      url: "https://helsinki-systems.de/",
    },
    {
      image: "meetwise.png",
      alt: "meetwise",
      url: "https://meetwise.com/",
      extraClasses: "py-5",
    },
    { image: "google.png", alt: "Google", url: "https://google.com/" },
    {
      image: "wdz.png",
      alt: "WDZ",
      url: "https://wdz.de/",
      extraClasses: "px-5",
    },
    {
      image: "pdt-partners.jpg",
      alt: "PDT Partners",
      url: "https://pdtpartners.com/",
      extraClasses: "py-5",
    },
    {
      image: "worldquant.png",
      alt: "WorldQuant",
      url: "https://worldquant.com/",
      extraClasses: "py-5",
    },
    {
      image: "hercules-ci.png",
      alt: "Hercules CI",
      url: "https://hercules-ci.com/",
      extraClasses: "py-5",
    },
    {
      image: "garnix.png",
      alt: "garnix",
      url: "https://garnix.io",
    },
  ],
  bronze: [
    {
      image: "oin.jpg",
      alt: "Open Innovation Network",
      url: "https://openinventionnetwork.com/",
    },
  ],
};
---

<LayoutDefault>
  <div class="flex justify-center">
    <a href="/talks" class="text-center w-100 text-black text-xl">View the schedule</a>
  </div>
  <Section extraClasses="pt-4">
    <SectionHeading>About</SectionHeading>
    <SectionParagraph>
      NixCon is a community-oriented conference for contributors and users of
      Nix and NixOS. It's about sharing experiences, inspiring people and
      discussing future development.
    </SectionParagraph>
    <SectionParagraph>
      We would like to learn about how you use Nix and NixOS in your
      organization and what you are currently working on.
    </SectionParagraph>
    <SectionParagraph>
      The growth of NixOS as a project brings its own challenges and we would
      like to know how you think the user experience can be improved and how
      NixOS can be scaled.
    </SectionParagraph>
  </Section>

  <Section>
    <SectionHeading>Location</SectionHeading>
    <SectionParagraph>
      <b class="inline-block mb-2">TU-Darmstadt, S1|05 Maschinenhaus</b><br />
      Magdalenenstr. 12<br />
      64289 Darmstadt<br />
      Germany
    </SectionParagraph>
    <ul class="linklist">
      <li>
        <a
          href="https://www.openstreetmap.org/way/26931271#map=19/49.87717/8.65750&layers=N"
          rel="external">OpenStreetMap</a
        >
      </li>
      <li>
        <a href="https://goo.gl/maps/nBg35Hk9FEeNuzAd7" rel="external"
          >Google Maps</a
        >
      </li>
      <li>
        <a
          href="https://maps.apple.com/place?address=Darmstadt,%20Hesse,%20Germany&auid=3032624567994665273&ll=49.877144,8.657540&lsp=9902&q=S1%7C05%20Maschinenhaus&t=h"
          rel="external">Apple Maps</a
        >
      </li>
    </ul>
  </Section>

  <Section extraClasses="pb-4">
    <SectionHeading>Tickets</SectionHeading>
    <SectionParagraph>
      Tickets are all taken!<br />
      Live streaming will be available. Follow one of the NixOS social accounts for
      updates:
      <ul class="linklist">
        <li>
          <a href="https://chaos.social/@nixos_org" rel="external"
            >@nixos_org@chaos.social</a
          >
        </li>
        <li>
          <a href="https://twitter.com/nixos_org" rel="external">@nixos_org</a>
        </li>
      </ul>
    </SectionParagraph>
    <SectionParagraph>
      Speakers without tickets, please reach out to us at
      <a href="mailto:orgateam@nixcon.org">orgateam@nixcon.org</a>.
    </SectionParagraph>
  </Section>

  <Section extraClasses="pb-4">
    <SectionHeading>Timeline</SectionHeading>
    <SectionParagraph>
      NixCon 2023 will consist of two conference days and a self-organized
      hackday. This event is organized by the community for the community:
      everyone is welcome to contribute.
    </SectionParagraph>

    <SubSectionHeading>
      2023-09-08: Conference day 1<br />2023-09-09: Conference day 2
    </SubSectionHeading>
    <SectionParagraph>
      The official conference schedule will be published after reviewing the CfP
      entries.
    </SectionParagraph>

    <SubSectionHeading>2023-09-10: Hackday</SubSectionHeading>
    <SectionParagraph>
      The Hackday is a self-organizing event after the conference. It's an
      opportunity to network, hack on projects and ideas that arose during the
      conference, and discuss plans for the rest of the year.
      <br />
      Get together, solve problems, create!
    </SectionParagraph>
  </Section>

  <Section extraClasses="pb-4">
    <SectionHeading>Talks / Schedule</SectionHeading>
    <SectionParagraph>
      The schedule is available at <a href="/talks">2023.nixcon.org/talks</a>.
    </SectionParagraph>
  </Section>

  <Section extraClasses="pb-4">
    <SectionHeading>FAQ</SectionHeading>
    <SubSectionHeading id="volunteer">I am interested in helping? What can I do?</SubSectionHeading>
    <SectionParagraph>
      We are actively looking for volunteers for before, during and after the event. If you are interested please sign-up on our Volunteer system (Engelsystem) at <a href="https://volunteers.nixcon.org">volunteers.nixcon.org</a>.
    </SectionParagraph>

    <SectionParagraph>
      There is also a Matrix room for <a href="https://matrix.to/#/#nixcon-2023-volunteers:kack.it">#nixcon-2023-volunteers:kack.it</a>.
    </SectionParagraph>

    <SubSectionHeading id="video">Will there be video recording?</SubSectionHeading>
    <SectionParagraph>
      Yes! This link will go live once the conference is starting: <a href="https://streaming.media.ccc.de/nixcon2023">https://streaming.media.ccc.de/nixcon2023</a>.
    </SectionParagraph>

    <SubSectionHeading id="edit">This website is broken! Can I fix it?</SubSectionHeading>
    <SectionParagraph>
      Yes! The website source is at: <a href="https://github.com/nixcon/2023.nixcon.org">https://github.com/nixcon/2023.nixcon.org</a>.
    </SectionParagraph>

    <SubSectionHeading id="arrival">Arrival</SubSectionHeading>

    <BlockList>
      <li>
        <BlockListHeader>
          <Icon name="plane" />
          By plane
        </BlockListHeader>
        <BlockListBody>
          <List>
            <ListItem>
              Arrive at FRA (Frankfurt International Airport, <b>not</b> Frankfurt-Hahn
              (HHN)),
            </ListItem>
            <ListItem>
              Then either take the <a
                href="https://www.heagmobibus.de/sites/default/files/media/_Airliner_Faltblatt_2023_04_17_Web_0.pdf"
                target="_blank">Airliner Shuttle</a
              > that goes all the way to Darmstadt city center with a stop at the
              main train station.
            </ListItem>
            <ListItem>
              Or take a train from the airport’s “Regionalbahnhof” to Frankfurt
              (Main) Hbf and swap there to Darmstadt Hbf.
            </ListItem>
          </List>
        </BlockListBody>
      </li>
      <li>
        <BlockListHeader>
          <Icon name="train" /> By train
        </BlockListHeader>
        <BlockListBody>
          <List>
            <ListItem>
              Darmstadt Hbf (main train station) is reachable by RE/IC/ICE. The
              closest station to the venue is the <a
                href="https://www.google.com/maps/place/Darmstadt+Alexanderstra%C3%9Fe%2FTU/@49.87575,8.66062,15z/data=!4m2!3m1!1s0x0:0xa70bcd66fefeb9dd?sa=X&ved=2ahUKEwjf16O_3JP_AhUS7aQKHYs7C9gQ_BJ6BAg5EAM"
                target="_blank">Alexanderstraße/TU</a
              > bus stop.
            </ListItem>
            <ListItem>
              Locally tickets can be bought from <a
                href="https://www.rmv.de"
                target="_blank">RMV</a
              >, e.g. from vending stations at most stations in Darmstadt
            </ListItem>
          </List>
        </BlockListBody>
      </li>
      <li>
        <BlockListHeader>
          <Icon name="car" />
          By car
        </BlockListHeader>
        <BlockListBody>
          <List>
            <ListItem>
              <a
                href="https://osm.org/go/0DxdhZQc6?layers=N&way=22937260"
                target="_blank"
                rel="noopener">Messplatz &amp; Nordbad, Alsfelder Str.</a
              >
            </ListItem>
            <ListItem>
              <a
                href="https://www.darmstadt-tourismus.de/besuch/details/poidetail/parkplatz-mercksplatz.html"
                target="_blank"
                rel="noopener">Mercksplatz</a
              >, up to 4 hours (warning: you have to indicate in some way what
              time you parked the car, visible through the windscreen).
            </ListItem>
            <ListItem>
              This is a non-exhaustive list, you can find more with your
              location data provider of choice
            </ListItem>
          </List>
        </BlockListBody>
      </li>
    </BlockList>
  </Section>
  <Section>
    <SectionHeading>Sponsors</SectionHeading>
    <div class="bg-nixblue-200">
      <SubSectionHeading
        extraClasses="p-4 pb-2 block border-b-4 border-b-yellow-300"
      >
        Gold sponsors
      </SubSectionHeading>
      <ul class="flex flex-rows flex-wrap justify-center gap-x-16 gap-y-8 p-4">
        <Sponsors level="gold" sponsors={sponsors.gold} />
      </ul>
    </div>
    <div class="bg-nixblue-200">
      <SubSectionHeading
        extraClasses="p-4 pb-2 block border-b-4 border-b-gray-200"
      >
        Silver sponsors
      </SubSectionHeading>
      <ul class="flex flex-rows flex-wrap justify-center gap-x-8 gap-y-8 p-4">
        <Sponsors level="silver" sponsors={sponsors.silver} />
      </ul>
    </div>
    <div class="bg-nixblue-200">
      <SubSectionHeading
        extraClasses="p-4 pb-2 block border-b-4 border-b-amber-700"
      >
        Bronze sponsors
      </SubSectionHeading>
      <ul class="flex flex-rows flex-wrap justify-center gap-x-4 gap-y-4 p-4">
        <Sponsors level="bronze" sponsors={sponsors.bronze} />
      </ul>
    </div>
  </Section>
</LayoutDefault>
