---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-nixblue-100 text-nixblue-950">
    <div class="flex flex-col items-center justify-center h-screen">
      <h1 class="text-4xl font-black text-gray-700">NixCon 2023 - Darmstadt</h1>
      <p class="mt-2 text-3xl font-bold text-gray-600">
        Darmstadt | September 08 - 10
      </p>
    </div>
    <div class="container mx-auto">
      <h2 class="text-3xl font-black text-gray-700 mb-2">The Conference</h2>
      <p class="text-gray-600 leading-8 text-lg">
        NixCon is a community-oriented conference for contributors and users of
        Nix and NixOS. It's about sharing experiences, inspiring people and
        discussing future development. We would like to learn about how you use
        Nix and NixOS in your organization and what you are currently working
        on. The growth of NixOS as a project brings its own challenges and we
        would like to know how you think the user experience can be improved and
        how NixOS can be scaled.
      </p>
    </div>
    <div class="container mx-auto">
      <h2 class="text-3xl font-black text-gray-700 mb-2">The Location</h2>
      <p class="text-gray-600 leading-8 text-lg">
        Darmstadt is a city in the state of Hesse in Germany, located in the
        southern part of the Rhine-Main-Area (Frankfurt Metropolitan Region).
      </p>
    </div>
    <div class="container mx-auto">
      <h2 class="text-3xl font-black text-gray-700 mb-2">The Schedule</h2>
    </div>
    <div class="container mx-auto">
      <h2 class="text-3xl font-black text-gray-700 mb-2">The Sponsors</h2>
    </div>
    <div class="container mx-auto">
      <h2 class="text-3xl font-black text-gray-700 mb-2">Tickets</h2>
    </div>
    <div class="container mx-auto">
      <h2 class="text-3xl font-black text-gray-700 mb-2">Get in touch</h2>
    </div>
  </body>
</html>
