@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:any-link,
  a:visited {
    font-weight: 800;
    @apply text-nixblue-600;
  }

  a:hover {
    font-weight: 800;
    text-decoration: underline solid 2px;
    @apply text-nixblue-800;
  }

  .linklist {
    @apply flex flex-col  md:flex-row flex-wrap gap-4 mb-4;
  }
  .linklist a {
    @apply no-underline block hover:underline py-2 px-4 border-2 border-nixblue-800 font-bold bg-nixblue-50;
  }
}
