---
import "@fontsource/roboto";
import Footer from "../components/Footer.astro";
import './../style.css';
---

<html lang="en" class="frame">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>NixCon 2023</title>
    <style>
      @font-face {
        font-family: "Behrensschrift";
        src: url("/fonts/Behrensschrift-SH.otf") format("opentype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </head>
  <body class="bg-nixblue-100 text-nixblue-950">
    <div class="content md:px-[25vw] md:h-[75vh]">
      <div class="flex flex-col items-center justify-center text-center mt-10  pb-8">
        <img src="/logo.svg" alt="NixCon 2023" class="w-56 md:w-72" />
        <p class="mt-4 text-3xl md:text-5xl font-bold text-gray-600 font-behrensschrift">
          Darmſtadt 2023
        </p>
        <p class="text-3xl font-behrensschrift font-bold text-gray-600">
          September 08 – 10
        </p>
      </div>
      <slot />
      <Footer />
    </div>
  </body>
</html>
