---
import LayoutDefault from "./LayoutDefault.astro";
---

<LayoutDefault>
  <div class="container mx-auto mb-4">
    <article
      class="prose dark:prose-invert mx-4 max-w-none prose-headings:font-behrensschrift prose-headings:mb-2 prose-headings:mt-4"
    >
      <slot />
      <a href="/">Back to Home</a>
    </article>
  </div>
  <img
    src="/separator.svg"
    aria-hidden="true"
    class="w-full md:max-w-[50em] mx-auto mt-4 mb-8"
  />
</LayoutDefault>
